/* Navbar.module.css */

.nav {
  background-color: blue;
  height: 70px; /* Adjust this as needed to control the navbar height */
}

.button {
  background-color: blue;
  border: none;
  padding-top: 8px;
  font-size: 22px;
  color: white;
}

.button:hover {
  color: black;
}

.color {
  color: white;
  text-shadow: 0px 0px 1px black;
}

:global .active {
  color: black;
  text-shadow: 0px 0px 1px black;
}
